* {
    bg-col: #1e1e1e; 
    bg-col-light: #333b41;
    border-col: #ff9999;//#45ffff;
    selected-col: #333b41;
    blue: #87c095;
    fg-col: #b4bbc8;
    fg-col2: #e67e80;
    grey: #545c62;
    width: 600;
}
